<form class="search-form">
  <mat-form-field style="width: 650px;">
    <input #search matInput placeholder="Search by Name" (focus)="onFocus($event)" aria-label="search" [matAutocomplete]="auto" [formControl]="searchCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let book of searchEvent | async"
                  [value]="book"
                  (onSelectionChange)="onSearchSelected($event)"
                  style="height:80px !important;">
        <img class="comic-thumb" [src]="book.thumbnail | base64image" height="80">
        <span>{{book.name}} {{book.title}}</span> |
        <small>{{book.volume}} {{book.issue}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
